* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'sofia', sans-serif;
  text-shadow: 3px 3px 3px #ababab;
  color: #eee;
  display: flex;
  flex-direction: column;
  background: url('./images/1eefc5567dc5c55f67ef6849b9235582.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  font-size: 20px;
}

.gameButtons {
  background-color: transparent;
  border-radius: 10px;
  color: transparent;
  cursor: pointer;
  padding: 30px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.gameButtons:hover {
  /* transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2); */
  box-shadow: 0 0.8em 0.8em -0.7em #ababab;
  transform: translateY(-0.25em);
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#results,
#gameScore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  padding: 20px;
}

#gameScore {
  font-size: 40px;
}

.results {
  border: 1px solid #eee;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

#resetGame {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#reset {
  background-color: transparent;
  align-items: center;
  width: 150px;
  height: 100px;
  border-radius: 10px;
  
}

#reset:hover {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  box-shadow: 0 0.8em 0.8em -0.7em #ababab;
}

img {
  width: 70px;
  height: 70px;
  pointer-events: none;
}