* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'silkscreen', sans-serif;
  text-shadow: 3px 3px 3px violet;
  color: yellow;
  display: flex;
  flex-direction: column;
  background: url('./images/pexels-felix-mittermeier-956999.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  font-size: 20px;
}

.gameButtons {
  background-color: transparent;
  border-radius: 10px;
  color: transparent;
  cursor: pointer;
  padding: 30px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.gameButtons:hover {
  /* transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2); */
  box-shadow: 0 0.8em 0.8em -0.7em yellow;
  transform: translateY(-0.25em);
}

#buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#results,
#gameScore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  padding: 20px;
}

#gameScore {
  font-size: 40px;
}

.results {
  border: 1px solid green;
  width: 280px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

#resultImages,
#resultAreas {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grogu {
  width: 100px;
  height: 100px;
  margin-right: 120px;
}

#r2d2 {
  width: 60px;
  height: 60px;
  margin-left: 80px;
}

#resetGame {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#reset {
  background-color: transparent;
  align-items: center;
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

#reset:hover {
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  box-shadow: 0 0.8em 0.8em -0.8em violet;
}

img {
  width: 90px;
  height: 90px;
  pointer-events: none;
}